/**
 * Help popover classes
**/
/* Classes non utilisées, mais sont présentes dans le js de la page wizard.php en commentaires */

/*.help_header {
  padding :8px 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}*/

/*.help_title {
  margin: 0;
  padding: 0;
  background-color:transparent;
  border: none;
}*/

/* Commentaires si le formulaire n'est pas rempli correctement pour identification.php et wizard.php */
.help_link {
color: #FF777F;
text-decoration: none;
border-color:#FFF;
}

.help_link:hover, .help_link:focus {
  color: #FFF;
  text-decoration: underline;
}

.help_link span {
  top: 3px;
}

/* Customisation des "help-class" du validator js de Bootstrap pour les pages identification.php et wizard.php */
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #FF777F!important;
}

.has-error .form-control-feedback {
    color: #FF777F!important;
}

.has-error .form-control {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.has-success .form-control-feedback {
    color: #FFF;
}

.has-success .form-control {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border-color: #84a4b3!important;
    border-top:none!important;
    border-left:none!important;
    border-right:none!important;
}

.has-feedback label ~ .form-control-feedback {
    margin-top:-32px!important;
    position:static;
}

.form-control-feedback {
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #FF777F!important; /* Rose */
}
/* Fin customisation des classes validator js de Bootstrap */

/* Customisation des alerts classiques de Bootstrap */
.alert-success {
background-color:transparent;
color:#FFF;
border:1px solid #7E9DAC; /* Bleu */
}

.alert.alert-success {
  padding:5px;
}

.alert.alert-danger {
  margin-top:20px;
  padding:5px;
}

.alert-danger { /* si problème, s'affiche quand on clique sur le bouton enregistrer de la page home.php */
background-color:transparent;
color:rgb(229, 18, 77);
border:1px solid rgb(229, 18, 77); /* Rose foncé */
}

.alert-warning {
background-color:transparent;
color:rgb(229, 18, 77);
border:1px solid rgb(229, 18, 77); /* Rose foncé */
}

/* Personnalisation d'alerts */
span#alert-config {
  display:none;
  position:absolute;
  top:70px;
  text-align:center;
}

/* "Switch Swatch" - positionnement de l'affichage des alerts pour
les boutons switch WPS et swatch Announcing protocols dans home.php */
span#alertWps {
  display:none;
  position:absolute;
  top:3px;
  right:85px;
  max-width:210px;
  font-size:.9em;
  padding:.5em;
}

span#alertProtocol {
   display:none;
  position:absolute;
  right:85px;
  top:5px;
  max-width:210px;
  font-size:.9em;
  padding:.5em;
}
/* Fin "switch-swatch" */

/*Changement de couleur du glyphicon remove de bootstrap*/
.glyphicon.glyphicon-remove {
  color:#ef6f79;
}
/*Changement de couleur du glyphicon OK de bootstrap*/
.glyphicon.glyphicon-ok {
  color:#FFF;
}

/* Positionnement des glyphicons ok/remove à droite des inputs liés à l'adresse IP (home.php)*/
span#glyph1-ko {
  vertical-align:middle;
  padding: 6px 0px !important;
}

span#glyph1-ok {
  vertical-align:middle;
  padding: 6px 0px !important;
}

span#glyph2-ko {
  vertical-align:middle;
  padding: 6px 0px !important;
}

span#glyph2-ok {
  vertical-align:middle;
  padding: 6px 0px !important;
}

span#glyph3-ko {
  vertical-align:middle;
  padding: 6px 0px !important;
}

span#glyph3-ok {
  vertical-align:middle;
  padding: 6px 0px !important;
}

span#glyph4-ko {
  vertical-align:middle;
  padding: 6px 0px !important;
}

span#glyph4-ok {
  vertical-align:middle;
  padding: 6px 0px !important;
}

@media (max-width: 400px) {
  /*Changement de couleur du glyphicon remove de bootstrap*/
.glyphicon.glyphicon-remove {
  font-size:10px;
}
/*Changement de couleur du glyphicon OK de bootstrap*/
.glyphicon.glyphicon-ok {
  font-size:10px;
}
}

