/* css de la page identification */

/* Structure générale de la page identification qui n'est pas dans le carousel mais qui présente une structure
comparables aux étapes de la page wizard.php */
.identification {
  width:100%;
  height:100%;
}

.identification-inner {
  height:100%;
}

.item {
  height:100%;
}

.identification,
.item
{
	height: 100%;
}

.container-fluid {
	height: 100%;
	display: -webkit-flex;			/* Safari */
	display: flex;
	-webkit-flex-flow: column;		/* Safari */
	flex-flow: column;
}

.container-fluid .row.header {
	display: -webkit-flex;			/* Safari */
	display: flex;
	-webkit-align-items: center;	/* Safari */
	align-items: center;
	max-height: 170px;
	-webkit-flex: 1 1 auto;			/* Safari */
	-ms-flex: 1 1 auto;				/* IE 10+ */
	flex: 1 1 auto;
}

.container-fluid .row.content {
	display: -webkit-flex;			/* Safari */
	display: flex;
	-webkit-align-items: center;	/* Safari */
	align-items: center;
	background-repeat: no-repeat;
	-webkit-flex: 1 1 auto;			/* Safari */
	-ms-flex: 1 1 auto;				/* IE 10+ */
	flex: 1 1 auto;
}

.content-step-1 { /* Images identification  */
	/* Cette illustration est visible pour les versions desktop et tablets. Elle est en hidden pour la version mobile */
	background: url('../images/01_device_illustration.png');
}

/* Fin structure générale pour la page identification */

/* Barre de progression version mobile */
.f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
.f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: rgba(255,119,127,1); }

img { max-width: 100%; }



/* Tiny smartphone (old iPhone) */
@media (max-width: 320px) { /* Page identification 320px */

	.margintop {
		margin-top:.5em;
	}
	.image-illustration img { /* 01_device_illustration de la page identification intégrée dans le html en version mobile
	(et non plus dans le css) pour pouvoir positionner l'image entre les deux paragraphes */
		width:200px;
		height:auto;
	}

	.content-step-1 {
		background-image:none!important;
	}

	.container-fluid .row.header.identif {
	    max-height: 75px!important; /* Si je ne mets pas !important,
	    c'est le media queries max-width 500px qui prend le dessus */
	    -webkit-align-items: center;
	    align-items:center;
	}

	.container-fluid .row.content {
	    -webkit-align-items: flex-start;
	    align-items: flex-start;
	}

	.container-fluid .row.footer {
		flex: 0 1 105px!important;
		-webkit-flex: 0 1 105px!important; /* Safari */
		-ms-flex: 0 1 105px!important;	/* IE 10+ */
     	-webkit-align-items: flex-end;
    	align-items: flex-end;
	}

}

/* Smartphone */
@media (min-width: 321px) {

	.container-fluid .row.header.identif {
		padding-top: 10px;
		padding-left: 0;
		-webkit-align-items: center;	/* Safari */
		align-items: center;
		max-height: 50px;
	}

	.container-fluid .row.content {
		display: -webkit-flex;			/* Safari */
		display: flex;
		-webkit-align-items: center;	/* Safari */
		align-items: center;
		background-repeat: no-repeat;
		-webkit-flex: 1 1 auto;			/* Safari */
		-ms-flex: 1 1 auto;				/* IE 10+ */
		flex: 1 1 auto;
	}

	.container-fluid .row.footer {
		flex: 0 1 100px;
		-webkit-flex: 0 1 100px;			/* Safari */
		-ms-flex: 0 1 100px;				/* IE 10+ */
	}
}

@media screen and (max-width:500px) {

	.content-step-1 {
		background-image:none!important;
	}

	.container-fluid .row.header.identif { /* Fonctionne pour les écrans qui font 360px de large */
	    max-height: 70px;
	    -webkit-align-items: flex-end;
	    align-items:flex-end;
	}

	.container-fluid .row.content.content-step-1 {
	    -webkit-align-items: flex-start;
	    align-items: flex-start;
	    -ms-flex-align: flex-start;
	}

  	.container-fluid .row.footer {
	    flex: 0 1 20px;
	    -webkit-flex: 0 1 20px; /* Safari */
	    -ms-flex: 0 1 20px; /* IE 10+ */
		-webkit-align-items: flex-start;
	   	 align-items:flex-start;
  	}

}

@media (max-width: 768px) {

	.content-step-1 { /* L'illustration intégrée en css disparaît en version  mobile */
		background-image:none!important;
	}

	.container-fluid .row.header {
		-webkit-align-items: flex-start;	/* Safari */
		align-items: flex-start;
		max-height: 50px;
	}

	.container-fluid .row.content.content-step-1 {
		-webkit-background-size: 35% auto;
		-moz-background-size: 35% auto;
		-ms-background-size: 35% auto;
		-o-background-size: 35% auto;
		background-size: 35% auto;
		background-position: top 20% right 7%;
		-webkit-align-items: center;
		 align-items:center;
	}

	.container-fluid .row.footer {
		flex: 0 1 133px;
		-webkit-flex: 0 1 133px;			/* Safari */
		-ms-flex: 0 1 133px;    			/* IE 10+ */
		-webkit-align-items: flex-start;
   	 	align-items:flex-start;
	}

}


/* Tablette */
@media (min-width: 768px) {

	.container-fluid .row.header.identif {
		padding-top: 20px;
		padding-left: 0;
     	-webkit-align-items: flex-start;
    	align-items:flex-start;
	}

	.container-fluid .row.content.content-step-1 {
		-webkit-background-size: 35% auto;
		-moz-background-size: 35% auto;
		-ms-background-size: 35% auto;
		-o-background-size: 35% auto;
		background-size: 35% auto;
		background-position: bottom 15% right 7%;
        -webkit-align-items: flex-end;
    	align-items:flex-end;
	}


	.container-fluid .row.footer {
		flex: 0 1 150px;
		-webkit-flex: 0 1 150px;			/* Safari */
		-ms-flex: 0 1 150px;    			/* IE 10+ */
	}
}

/* Desktop */
@media (min-width: 992px) {

	.container-fluid .row.header.identif {
		padding-top: 20px;
		padding-left: 0;
		max-height:130px;
		-webkit-align-items: flex-end;
   		align-items:flex-end;
	}

	.container-fluid .row.content.content-step-1 {
		-webkit-background-size: 25% auto;
		-moz-background-size: 25% auto;
		-ms-background-size: 25% auto;
		-o-background-size: 25% auto;
		background-size: 25% auto;
		background-position: center right 15%;

	}

    .container-fluid .row.content {
       -webkit-align-items: center!important;
    	align-items: center!important;
  	}

	.container-fluid .row.footer { /* Pied de page pour la page identification
    (comprend la progress bar version desktop et le logo Legrand) */
		flex: 0 1 130px;
		-webkit-flex: 0 1 130px;			/* Safari */
		-ms-flex: 0 1 130px;    			/* IE 10+ */
		-webkit-align-items: flex-start;
   	 	align-items:flex-start;
	}

}

/* Large screen */
@media ( min-width : 1200px ) {

	.container-fluid .row.content.content-step-1 { /* Section identification illustration */
	  -webkit-background-size: 25% auto;
	  -moz-background-size: 25% auto;
	  -ms-background-size: 25% auto;
	  -o-background-size: 25% auto;
	  background-size: 25% auto;
	  background-position: center right 20%;
	}

}
