/* Page réglages */

/* dividers (séparateurs) dans la page home.php */
.content-settings-item {
  border-bottom: 1px solid rgb(132,164,179);
  padding-bottom: 15px;
}

.font-title-settings { /* Titres en bleu */
    font-size:15px;
    line-height:24px;
    color:rgb(126,157,172);
  }

.font-title-settings-input { /* Titres en blanc */
    font-size: 15px;
    color: rgb(255,255,255);
    line-height: 30px;
}
.font-title-select { /* titre des menus select */
  color:#FFF!important;
   font-size:14px;
  line-height:26px;
}
.font-title-input{
font-size:15px;
color:rgb(255,255,255);
line-height:30px;
}

/* Customisation de la mise en service de l'app dans home.php */
/* Actif depuis le date ... */
p.font-settings small {
  font-size:14px;
  color:rgba(255,255,255,.8);
}

/* Boutons "switch swatch" WPS et Announcing protocols */

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label.checkSwitch {
  cursor: pointer;
  text-indent: -9999px;
  width: 54.5px;
  height: 22.2px;
  background: grey;
  display: block;
  border-radius: 22.2px;
  position: relative;
  float: right;
  margin-top:2em;
}

label.checkSwitch:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 0px;
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 28px;
  transition: 0.3s;
}

label.checkSwitch:active:after {
  width: 40px;
}

input:checked + label.checkSwitch {
  background: rgb(37,199,201);

}

input:checked + label.checkSwitch:after {
  left: calc(100% - 0px);
  transform: translateX(-100%);
}

/* Fin customisation des boutons switch */

/* margin top pour le boutons auto/manual */
.margestop {
  margin-top:.5em;
}

h1.font-title.settings { /* Titre de la page */
  font-size:2.8em;
  padding-bottom:1em;
  line-height:1.2em;
}

h2.font-title.protocols {
font-size:1.3em;
padding-bottom:.5em;
line-height:1.5em;
}

h2.font-title.settings {
  font-size:1.3em;
  line-height:1.5em;
}


/* Customisation des select option dans home.php */
/* Attribue une transparence du select et cache le curseur par défaut */
select.custom-select-settings {
  background: url('../images/tick-select.png') no-repeat center right 1%!important;
  color:#FFF;
  width:100%;
  height:50px;
  padding: 6px 4px;
  background-color:transparent!important;
  border:none;
  border-radius:0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 300;
  cursor: pointer;
  margin-bottom:10px;
}

/* Customisation de certaines classes Bootstrap liées au formulaire */
.form-control.no-bottomBar {
   border-bottom: none!important;
}

/* Les inputs de l'adresse IP*/

.form-control:focus{ /*  suppression du outline bleu  de Bootstrap tout en maintenant la visibilité du texte */
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none!important;
}

.ip-form { /* Largeur des input pour l'adresse IP */
    display: inline-block;
    width:50px;
    margin-bottom:2px;
}

.form-control { /* des doublons avec la class form-control */
    font-size:14px;
}


  /* espace vertical entre les labels pour une meilleure lisibilité */
  label {
    margin-bottom:10px;
    margin-top:10px;
    font-weight:normal;
  }

/* diminution de la largeur de la barre pour l'input intitulé Nom du point d'accès */

.custom-input-settings-bar{
    border-bottom: .5px solid #FFF !important;
}

/* Boutons pour la section firmware */
input.check-launch.btn {
  min-width: 105px;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  border: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input.check-launch.btn:hover { opacity: 0.6; color: #fff; }
input.check-launch.btn:active { outline: 0; opacity: 0.8; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
input.check-launch.btn:focus,
input.check-launch.btn:active:focus,
input.check-launch.btn.active:focus { outline: 0; opacity: 0.8; color: #fff; }

input.check-launch.btn.btn-check,
input.check-launch.btn.btn-check:focus,
input.check-launch.btn.btn-check:active:focus, input.btn.btn-check.active:focus { background: #FF777F; }

input.check-launch.btn.btn-submit,
input.check-launch.btn.btn-submit:focus,
input.check-launch.btn.btn-submit:active:focus, input.btn.btn-submit.active:focus { background:  #FF777F; }

input.check-launch.btn.btn-launch,
input.check-launch.btn.btn-launch:focus,
input.check-launch.btn.btn-launch:active:focus, input.btn.btn-launch.active:focus { background: transparent;border:1px solid #7E9DAC; }
/* Fin boutons pour la section firmware */


/* Toggle switch buttons IP configuration */
.btn-default.btn-on.active{ background-color:rgba(255,119,127,1); border:1px solid rgba(255,119,127,1);color: white;outline:0;}
.btn-default.btn-off.active{background-color:rgba(255,119,127,1); border:1px solid rgba(255,119,127,1);color: white;outline:0;}

.btn-default { background-color: transparent;border-color:none;border:1px solid #7E9DAC;color: white;}
.btn-default:hover {background-color:rgba(255,119,127,1); border:1px solid rgba(255,119,127,1);color: white;}


*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

/* Fin toggle switch buttons */

/* Button annuler / enregistrer */
.btn{margin-bottom:10px;}
input.annul-save.btn {
  min-width: 105px;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input.annul-save.btn:hover { opacity: 0.6; color: #fff; }
input.annul-save.btn:active { outline: 0; opacity: 0.8; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
input.annul-save.btn:focus,
input.annul-save.btn:active:focus,
input.annul-save.btn.active:focus { outline: 0; opacity: 0.8; color: #fff; }

input.annul-save.btn.btn-save,
input.annul-save.btn.btn-save:focus,
input.annul-save.btn.btn-save:active:focus, input.btn.btn-save.active:focus { background: #FF777F; }

input.annul-save.btn.btn-submit,
input.annul-save.btn.btn-submit:focus,
input.annul-save.btn.btn-submit:active:focus, input.btn.btn-submit.active:focus { background:  #FF777F; }

input.annul-save.btn.btn-annul,
input.annul-save.btn.btn-annul:focus,
input.annul-save.btn.btn-annul:active:focus, input.btn.btn-annul.active:focus { background: transparent;border:1px solid #7E9DAC; }
/* Fin button enregistrer / annuler */

@media (max-width: 1200px) {
.ip-form { /* Largeur des input pour l'adresse IPV4 fixée */
    width:40px;
}
}

@media (max-width: 960px) {
.ip-form { /* Largeur des input pour l'adresse IPV4 fixée */
    width:60px;
}
}

@media (max-width: 540px) {
input.check-launch.btn {
  min-width: 100px;
  font-weight:500;
  height: 30px;
  padding: 0 10px;
  font-size: 10px;
  line-height: 10px;
  margin-top:.5em;
}
.ip-form {
    display: inline-block;
    width: 32px;
    margin-bottom:10px;
}
.font-title-input {
    font-size: 12px;
    line-height: 20px;
}
}

@media (max-width: 400px) {


/* Bloquer la taille du logo dans la page home */
 .minWidthLogo {
    min-width:80px;
  }

.font-title-settings {
    font-size: 12px;
    line-height: 20px;
}
.form-control {
    font-size: 12px;
    padding: 6px 0px;
}
.ip-form {
    width: 23px;
}
  h2.font-title.settings {
    font-size: 1.1em;
    line-height: 1.2em;
}
}

@media (max-width: 320px) {
 input.check-launch.btn {
  min-width: 90px;
  height: 30px;
  padding: 0 5px;
  font-size: 10px;
  line-height: 10px;

}
.btn-default.btn-on, .btn-default.btn-off {
  font-size:12px;
}


.font-title-settings {
    font-size: 12px;
    line-height: 20px;
}

  .form-control {
    font-size: 12px;
}

}


