html {
	position: relative;
	height: 100%;
}


body {
  font-family: Helvetica,"Helvetica Neue", Arial, sans-serif;
	/* Background radial gradient  */
  background: -moz-radial-gradient(center, ellipse cover, rgba(31,61,93,1) 0%, rgba(13,34,56,1) 100%) no-repeat;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(31,61,93,1) 0%, rgba(13,34,56,1) 100%) no-repeat;
  background: -o-radial-gradient(center, ellipse cover, rgba(31,61,93,1) 0%, rgba(13,34,56,1) 100%) no-repeat;
  background: -ms-radial-gradient(center, ellipse cover, rgba(31,61,93,1) 0%, rgba(13,34,56,1) 100%) no-repeat;
  background: radial-gradient(ellipse at center, rgba(31,61,93,1) 0%, rgba(13,34,56,1) 100%) no-repeat;
  /* Bug pour le background radial (les ellipses sont "animées" ... ???) sur le navigateur Chrome de MacOS (non encore résolu) */
   /* sur Safari, les ellipses étaient également "animées", problème fixé avec un no-repeat */
  /* De manière générale, trace visible de l'ellipse en arrière-plan (non résolu) */
  background-attachment: fixed;
   -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  height: 100%;
  width: 100%;
  margin:0 auto; /* Pour la page home.php */
  color:#FFF!important;
}

h1 {
  color:#FFF;
}

a, a:hover, a:focus { /* Global custom links */
  text-decoration: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

/* Button previous/next Carousel page wizard.php + page identification.php */
.btn {
  margin-bottom:10px;
}

input.prev-next.btn {
  min-width: 105px;
  height: 40px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  border: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input.prev-next.btn:hover {
  opacity: 0.6; color: #fff;
}
input.prev-next.btn:active {
  outline: 0;
  opacity: 0.8;
  color: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input.prev-next.btn:focus,
input.prev-next.btn:active:focus,
input.prev-next.btn.active:focus {
  outline: 0;
  opacity: 0.8;
  color: #fff;
}

input.prev-next.btn.btn-next,
input.prev-next.btn.btn-next:focus,
input.prev-next.btn.btn-next:active:focus, input.btn.btn-next.active:focus {
  background: #FF777F;
}

input.prev-next.btn.btn-submit,
input.prev-next.btn.btn-submit:focus,
input.prev-next.btn.btn-submit:active:focus, input.btn.btn-submit.active:focus {
  background:  #FF777F;
}

input.prev-next.btn.btn-previous,
input.prev-next.btn.btn-previous:focus,
input.prev-next.btn.btn-previous:active:focus, input.btn.btn-previous.active:focus {
  background: transparent;
  border:1px solid #fff;
}
/* Fin button previous / next */

/* Custom tooltip bulles info*/
.tooltip.right  {
  margin-left: 20px;
}

/* Spinner loading */
.mask { /* background opaque pour le spinner */
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index: 999;
  background-color: rgba(0,0,0,.8);
  display: none;
}

#spinner-load { /* Positionnement */
  position:fixed;
  z-index:9999;
  left:5em;
  top:5em;
}

.imgwrapper { /* Conteneur */
  width: 80%;
}

.turn { /* Rotation du spinner */
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#count { /* Compteur du spinner */
position:absolute;
font-size:4em;
text-align:center;
top: 50%;
left: 43%;
transform: translateX(-50%) translateY(-50%);
}
/* Fin spinner */

/* tools */
/* class > margin & padding */
.margintop {
  margin-top:2em;
}

.margintop-mobile {
  margin-top:1em;
}

.paddingtop {
  padding:1em 0;
}

.clear { clear: both; }

.justify {
  text-align:justify;
}

.right {
  text-align:right;
}

.left {
  text-align:left;
}

/**
 * Form
**/

/* Custom elements form Bootstrap */
/* Remove outline */
.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control { /* des doublons avec la class form-control */
    background-color: rgba(0,0,0,0)!important;
    color:#FFF;
    border-bottom: 1px solid #FFF!important;
    border-radius: 0!important;
    outline:0;
    font-size:16px;
    transition:none;
    padding: 6px 4px;
    box-shadow: none;
}

.form-control::-moz-placeholder {
    color: #FFF;
    opacity: 1;
}

/* Custom placeholder */
[placeholder] {
  color:#FFF;
  opacity: 1;
}

::-webkit-input-placeholder { /* Chrome */
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}
/* Les champs texte */
input[type=text] {
    color:#FFF;
    cursor:pointer;
    border: none;
    box-shadow: none;
}
/* Les champs nombre */
input[type=number] {
    color:#FFF;
    cursor:pointer;
    border: none;
    box-shadow: none;
    border-bottom-width: medium;
}

/* for chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

/* for mozilla */
   input[type=number] {
      -moz-appearance: textfield;
    }


.input-text {
	border: 1px solid #FFF;
	background: url(../images/icon-selectdown.png) no-repeat;
}

.input-text::-webkit-input-placeholder { color: #FFF;  }
.input-text:-moz-placeholder { color: #FFF; }
.input-text::-moz-placeholder { color: #FFF; }
.input-text:-ms-input-placeholder { color: #FFF; }

.input-placeholder::-webkit-input-placeholder {
  color: #FFF;
}

.input-placeholder:-moz-placeholder {
  color: #FFF;
}

.input-placeholder::-moz-placeholder {
  color: #FFF;
}

.input-placeholder:-ms-input-placeholder {
  color: #FFF;
}

::-webkit-input-placeholder { /* Chrome */ color: #fff; }
:-ms-input-placeholder { /* IE 10+ */ color: #fff; }
::-moz-placeholder { /* Firefox 19+ */ color: #fff;opacity: 1;}
:-moz-placeholder { /* Firefox 4 - 18 */color: #fff;opacity: 1;}


input::-webkit-input-placeholder {font-size: 1em; }
input::-moz-placeholder {font-size: 1em;}
input::-ms-input-placeholder {font-size: 1em;}
input::-moz-placeholder {font-size: 1em;}


.custom-input { /* Transparence des input */
  background: rgba(0, 0, 0, 0)!important;
  border:none!important;
  color:rgba(255,255,255,1)!important;
  width:100%;
  cursor: pointer;
}

.custom-ipv4 {
  background: rgba(0, 0, 0, 0)!important;
  border:none!important;
  color:rgba(255,255,255,1)!important;
}

.font-title-select { /* Font blanc pour les select language */
    color:#FFF!important;
     font-size:14px;
    line-height:26px;
  }

/* for chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;}


/* for mozilla */
   input[type=number] {-moz-appearance: textfield;}


/* Input select field */
.input-select {
  border: 1px solid;
  border-color: #baab94;
  /*padding-left: 20px;*/
  background: url(../images/select.png);
  background-repeat:no-repeat;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-background-size: contain;
  -moz-background-size:  contain;
  -ms-background-size:  contain;
  -o-background-size:  contain;
  background-size: contain;
  cursor:pointer;
}

.input-text-mobile {
    height: 30px;
  }

/* Input select field */
select.custom-select { /* Utilisé pour la section Réseau de la page Wizard */
  color:#FFF;
  width:100%;
  height:50px;
  padding-top: 6px;
  padding-bottom:6px;
  background-color:transparent!important;
  border:none;
  border-radius:0;
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
   font-weight: 300;
   cursor: pointer;
}

select.custom-select {
/* background: url('../images/tick-icon.png') no-repeat right;*/
background: url('../images/tick-select.png') no-repeat center right 2%!important;
}

.custom-input-field {
  border-bottom: 1px solid #84a4b3!important;
  color:#fff;
}


select {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Select language */

select.flag-option {
  margin-top:1em;
  color:#FFF;
  width:100%;
  height:50px;
  background-color:#10263D;
  border:none;
  border-radius:0;
  border-bottom:1px solid rgba(240,240,240,.5)!important;
  box-sizing: border-box;
  -webkit-appearance: none; /* Transparence */
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-background-size: contain;
  -moz-background-size:  contain;
  -ms-background-size:  contain;
  -o-background-size:  contain;
  background-size: contain;
   font-weight: 300;
   cursor: pointer;
   outline:none;
   font-size:15px;
}
select.flag-option {
 background: url('../images/icon-selectdown.png') no-repeat right;
}

option { /* transparence du menu options non résolue */
    background-color: #f5f5f5;
    color:#888;
    border-radius:0;
    border:0;
    -webkit-appearance: none;
    outline: 1px inset black; outline-offset:-1px;
    border: 1px ridge rgb(169, 169, 169);
    box-shadow: none;
    padding:0;
}



.ip-form {
	display: inline-block;
	width: auto;
}

/* Fin form */


/* form bug MacOs with outline */
@-moz-document url-prefix() { /* Remove outline on select form *** bug MacOS *** */
    select, select:-moz-focusring, select::-moz-focus-inner {
       color: transparent !important;
       text-shadow: 0 0 0 #fff !important;
       border:0;
    }
}

 /* Remove outline on focus */
*:focus {
    outline: none!important;
}

input:focus{ /* remove outline on focus */
    outline: none;
}
/* Fin form bug with outline */


/* Title */
.font-title {
  font-family: "Helvetica", sans-serif;
  color:#FFF;
}

h1.font-title {
  font-size:3em;
}

h2.font-title {
  font-size:2em;
  padding-bottom:1em;
}

/*title*/


/* Text */
.font-text {
	color: #84a4b3;
}


/* Label */
.font-label {
	color:rgb(92,124,143); /*blue light */
}

p.font-label {
  color:rgb(92,124,143);
}

p.font-label small {
  font-size:.8em;
  line-height:.9em!important;
}

p.majuscule {
  text-transform:uppercase;
}

h1.majuscule {
  text-transform:uppercase;
}


/* Footer */
.font-footer {
	font-family: "Helvetica", sans-serif;
	color: #FFF;
}

/* Input text*/
.font-input {
	font-family: "Helvetica", sans-serif;
	color : #FFF;
}

/* Select */
.font-select {
	font-family: "Helvetica", sans-serif;
	color: #FFFS;
}


/**
 * Div to prevent user to use smartphone in landscape
**/
.forbidLandscape {
	width: 100%;
	height: 100%;
	z-index:10;
	top: 0;
	left: 0;
	position: fixed;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.forbidLandscapeTable {
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: grey;
	display: table;
	overflow: hidden;
}

.forbidLandscapeTableCell {
	display: table-cell;
	vertical-align: middle;
}

.forbidLandscapeTableCellParaph {
	background-color: white;
}

/**
 * Error div
**/
.error-element{
	margin-top: 10px;
}

/* hr divider */
hr {
  border-top:1px solid #84a4b3;
}

/* Progress bar version mobile */
  .progress {
    margin-bottom:0;
    height:5px;
    border-radius:0px;
    background-color:#111;
  }

  .progress-bar-pink {
    background-color:#FF777F;
  }

/* Custom buttons */


button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color:rgb(20,44,70);
}

.btn.disabled, .btn[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=100);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1; }


p.button-active {
  color:#FFF;
}

p.button-inactive {
  color:rgb(107,125,142);
}


.btn:focus {
color:#FFF;
}

/* Boutons pour modal */
.btn-pink2 {
background-color:rgba(255,119,127,1);
border:none;
color:#FFF;
font-size:18px;
border-radius:0;
}

.btn-pink2:hover {
background-color:rgba(255,119,127,.8);
border:none;
color:#FFF;
}

.btn-pink2.active {
  background-color:rgb(255,119,127);
  color:#FFF;
  border:1px solid rgba(255,119,127,.8);
}

.btn-pink2.active:hover {
  background-color:rgba(255,119,127,.8);
  color:#FFF;
}

.btn-white2 {
background-color:rgba(255,255,255,1);
border:none;
color:rgba(255,119,127,1);
font-size:18px;
border-radius:0;
}

.btn-white2:hover {
background-color:rgba(255,255,255,.9);
border:none;
color:rgba(255,119,127,1);
}

.btn-white2.active {
  background-color:rgb(255,119,127);
  color:#FFF;
  border:1px solid rgba(255,119,127,.8);
}

.btn-white2.active:hover {
  background-color:rgba(255,119,127,.8);
  color:#FFF;
}

.hell {
	float:left;
}

/* Custom modal pour la version desktop */
.modal-dialog {
    margin: 15vh auto 0px 10vh;
}

.modal-header {
    padding: 15px;
    padding-bottom: 15px;
    border-bottom: none;
}

.modal-content{
  background-color:#111;
  border-radius:0;
}

.modal-footer {
	text-align:left;
	border-top: none;
	padding-top:1em;
}

.font-modal {
color:rgba(255,255,255,.7);
font-weight:bold;
padding: 1em;
font-size:18px;
}

.font-input-modal {
font-family:"Helvetica", sans-serif;
font-size:18px;
color:#fff;
font-weight:bold;
padding:1em;
}


.close:focus, .close:hover {
    color: #fff;
    filter: alpha(opacity=90);
    opacity: .9;
}

.close {
    color: #fff;
    filter: alpha(opacity=20);
    opacity: .8;
}

/* Modale version mobile état brut (à affiner selon le format des mobiles) */
.modal-header.mobileversion {
    background-color:rgb(21,57,85);
    text-align:center;
}

.modal-dialog.modal-padding {
    margin: 8vh auto;
}

.modal-content.mobileversion {
  background-color:#fff;
  border-radius:0;
}

.font-modal-mobile {
color:#a9a9a9;
font-weight:normal;
padding: 1.5em 1em;
font-size:15px;
}

.font-input-modal-mobile {
  color:#222;
  font-weight:normal;
  padding: 1.5em 1em;
  font-size:15px;
}

.content-resume-item-mobile {
  border-bottom: 1px solid #2d2d2d;
  padding-bottom: 10px;
}


blockquote { /* Section configuration réussie */
    padding: 0px 10px;
    margin: 0 0 19px;
    border-left: 1px solid #fff;
    font-weight: 500;
    color: #FFF;
    font-size: 15px;
    line-height: 21px;
  }


.bleu {
    color:#84a4b2;
}

p.bleu {
  font-size: 15px;
  line-height: 20px;
}

/* Progress bar version desktop */
.f1-steps {
  overflow: hidden;
  position: relative;
}

p.blanc {
  color:#fff;
  padding-top:.5em;
}

.f1-progress { position: absolute; top: 24px; left: 0; width: 70%; height: 1px; background: #ddd; }
.f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: rgba(255,119,127,1); }


span#bar1 {
  background-color: rgba(255,119,127,1);
}
span#bar2 {
   background-color: #6e8092;
}
.f1-step { position: relative;
  float: left;
  padding:0;
  margin:0;
  text-align:center;
}
 .progress_bar {
    width: 190px;
    height: 2px;
    margin:20px auto;
    float:left;
  }
.f1-step-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-top: 4px;
  background: #17304C;
  border:1px solid #84a4b2;
  font-size: 16px;
  color: #fff;
  line-height: 42px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.f1-step.activated .f1-step-icon {
  background: #112841;
  border: 1px solid rgba(255,119,127,1);
  color: #fff;
  line-height: 38px;
}
.f1-step.active .f1-step-icon {
  width: 48px;
  height: 48px;
  margin-top: 0;
  background: rgba(255,119,127,1);
  font-size: 22px;
  line-height: 46px;
  border:none;
}

.f1-step.activated > .f1-step-icon {
    cursor: pointer;
}
.f1-step p {
  color: #fff;
}
.f1-step.activated p {
  color: rgb(107,125,142);
}
.f1-step.active p {
  color: #fff;
}

.f1 fieldset {
  display: none;
  text-align: left;
}

.f1-buttons {
  text-align: right;
}

.f1 .input-error {
  border-color: #ff00ff;
}

img { max-width: 100%; }

::-moz-selection {
  background: #FF777F;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #f35b3f;
  color: #fff;
  text-shadow:none;
  border:none;
}

p.button-inactive {
    color: rgb(107,125,142)!important;
    padding-top:.5em;
}

/* Tiny smartphone (old iPhone) */
@media (max-width: 320px) {

.margintop {
  margin-top:1.3em;
}
  h1 { /* Titres pour chaque étape wizard (version mobile) */
    font-size:1.8em!important;
  }

  .font-title {
		font-size: 20px;
		line-height: 30px;
	}

  h2.modal-title {
  font-size:2em;
  line-height:12px;
}

/* Curseur de la modal pour la version mobile */
img.size-chevron {
  width:60%;
  height:auto;
}


	.font-text {
		font-size: 16px;
		line-height: 20px;
	}

  .font-info-xs { /* Classe affectée aux textes dans section "Configuration réussie" */
  font-size:15px!important;
  line-height: 20px;
  }

  blockquote.bleu {
    padding: 3px 10px;
    margin: 0 0 15px;
    border-left: 0;
    font-weight:500;
    font-size: 15px;
    line-height: 20px;
  }

	.nav-link {
		font-size: 16px;
	}

	.font-label {
		font-size: 16px;
		line-height: 20px;
	}

	.font-error {
		font-size: 16px;
	}

	.font-footer {
		font-size: 16px;
		line-height: 20px;
	}

	.font-input {
		font-size: 16px;
	}

	.font-select {
		font-size: 16px;
	}

	.input-text {
		width: 100%;
		height: 35px;
	}

	.input-select {
		width: 100%;
		height: 35px;
	}

}

/* Smartphone */
@media (min-width: 321px) {

		h1 { /* Titres pour chaque étape wizard (version mobile) */
    font-size:2.2em!important;
  }

  input::-moz-placeholder {
    font-size: .9em;
}

  .margintop {
  margin-top:1em;
}

  .font-title {
		font-size: 20px;
		line-height: 35px;
	}



	.font-text {
		font-size: 18px;
		line-height: 24px;
	}

	.nav-link {
		font-size: 18px;
	}

	.font-label {
		font-size: 18px;
		line-height: 24px;
	}

	.font-error {
		font-size: 18px;
	}

	.font-footer {
		font-size: 18px;
		line-height: 24px;
	}

	.font-select {
		font-size: 18px;
	}

	.font-input {
		font-size: 18px;
	}

	.font-button {
		font-family: "Helvetica", sans-serif;
		font-size: 16px;
		color: #ffffff;
	}

	.input-text {
		width: 100%;
		height: 40px;
	}

	.input-select {
		width: 100%;
		height: 40px;
	}
}

/* Tablette */
@media (min-width: 768px) {
	h1 { /* Titres pour chaque étape wizard (version mobile) */
    font-size:3em!important;
  }

  .font-title {
		font-size: 54px;
		line-height: 55px;
	}

	.font-text {
		font-size: 18px;
		line-height: 24px;
	}

	.nav-link {
		font-size: 20px;
	}

	.font-label {
		font-size: 18px;
		line-height: 24px;
	}

	.font-error {
		font-size: 18px;
	}

	.font-footer {
		font-size: 18px;
		line-height: 24px;
	}

	.font-select {
		font-size: 18px;
	}

	.font-input {
		font-size: 18px;
	}

	.input-text {
		width: 100%;
		height: 60px;
	}
	.input-select {
		width: 100%;
		height: 60px;
	}
  .f1-step { position: relative; float: left; padding:0;margin:0;text-align:center;}
 .progress_bar {
    width: 130px;
    height: 2px;
    margin:20px auto;
    float:left;
  }
}

/* Desktop */
@media (min-width: 992px) {
  input::-moz-placeholder {
    font-size: 1em;
}

	h1 { /* Titres pour chaque étape wizard (version mobile) */
    font-size:3.5em!important;
  }

  .font-title {
		font-size: 20px;
		line-height: 30px;
	}

	.font-title {
		font-size: 54px;
		line-height: 48px;
	}

	.font-text {
		font-size: 24px;
		line-height: 30px;
	}

	.nav-link {
		font-size: 24px;
	}

	.font-label {
		/*font-size: 24px;*/
		font-size:17px;
		line-height:23px;
		/*line-height: 30px;*/
	}

	.font-error {
		font-size: 24px;
	}

	.font-footer {
		font-size: 24px;
		line-height: 24px;
	}

	.font-select {
		font-size: 24px;
	}

	.font-input {
		font-size: 24px;
	}

	.input-text {
		width: 100%;
		height: 60px;
	}

	.input-select {
		width: 100%;
		height: 60px;
	}
   .f1-step { position: relative; float: left; padding:0;margin:0;text-align:center;}
 .progress_bar {
    width: 180px;
    height: 2px;
    margin:20px auto;
    float:left;
  }
}

/* Large screen */
@media (min-width: 1200px) {
  /* stepwizard */
  .f1-step {
    position: relative;
    float: left;
    padding:0;
    margin:0;
    text-align:center;
  }

  .progress_bar {
    width: 200px;
    margin:20px auto;
  }

  .font-label {
    font-size: 24px;
    font-size: 17px;
    line-height: 30px;
  }
}
