/* css de la page wizard.php */
.carousel {
	width: 100%;
}

.carousel,
.item,
.active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.container-fluid {
	height: 100%;
	display: -webkit-flex;			/* Safari */
	display: flex;
	-webkit-flex-flow: column;		/* Safari */
	flex-flow: column;
}

/*.container-fluid .row {
	flex: 0 1 30px;
}*/

.container-fluid .row.header {
	display: -webkit-flex;			/* Safari */
	display: flex;
	-webkit-align-items: center;	/* Safari */
	align-items: center;
	max-height: 170px;
	-webkit-flex: 1 1 auto;			/* Safari */
	-ms-flex: 1 1 auto;				/* IE 10+ */
	flex: 1 1 auto;
}

.container-fluid .row.content {
	display: -webkit-flex;			/* Safari */
	display: flex;
	-webkit-align-items: center;	/* Safari */
	align-items: center;
	background-repeat: no-repeat;
	-webkit-flex: 1 1 auto;			/* Safari */
	-ms-flex: 1 1 auto;				/* IE 10+ */
	flex: 1 1 auto;
}

.content-step-2 {
	background: url('../images/02_wifi_illustration.png');
}

.content-step-3 {
	/*background: url('../images/admin-bg.png');*/
	background: url('../images/03_acess_point_illustration.png');
}

/* Reprise de cette illustration pour la "section Bravo!"
(la structure de cette section diffère de celle de l'étape 3 */
.content-step-4 {
	background: url('../images/03_acess_point_illustration.png');
}

.content-resume-item {
	border-bottom: 1px solid rgba(255,255,255,.3);
	padding-bottom: 10px;
}

/* Page succès (dernière "étape": bravo!) */
.font-info {
    font-size: 16px;
    line-height: 22px;
		font-weight:500;
    color: #84a4b2!important;
}

.font-info-xs {
    font-size: 18px;
    line-height: 24px;
		font-weight:700;
    color: #fff!important;
}

.padtop {
	padding-top:.4em;
}

.padtop-xs {
	padding-top:.2em;
}

.space {
  margin-top:.3em;
}
.space-desktop {
  margin-top:.8em;
}
/* Boutons pdf sms email */
input.pdf-sms-email.btn {
  min-width: 105px;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  border: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input.pdf-sms-email.btn:hover {
	opacity: 0.6; color: #fff;
}
input.pdf-sms-email.btn:active {
	outline: 0;
	opacity: 0.8;
	color: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
input.pdf-sms-email.btn:focus,
input.pdf-sms-email.btn:active:focus,
input.pdf-sms-email.btn.active:focus {
	outline: 0; opacity: 0.8; color: #fff;
}

input.pdf-sms-email.btn.btn-pdf,
input.pdf-sms-email.btn.btn-pdf:focus,
input.pdf-sms-email.btn.btn-pdf:active:focus, input.btn.btn-pdf.active:focus {
	background: #FF777F;
}

input.pdf-sms-email.btn.btn-submit,
input.pdf-sms-email.btn.btn-submit:focus,
input.pdf-sms-email.btn.btn-submit:active:focus, input.btn.btn-submit.active:focus {
	background:  #FF777F;
}

input.pdf-sms-email.btn.btn-sms-email,
input.pdf-sms-email.btn.btn-sms-email:focus,
input.pdf-sms-email.btn.btn-sms-email:active:focus, input.btn.btn-sms-email.active:focus {
	background: transparent;border:1px solid #7E9DAC;
}

/* Smartphone */
@media (min-width: 321px) {

	.container-fluid .row.header {
		padding-top: 5px;
		padding-left: 0;
	}

	.container-fluid .row.header {
		-webkit-align-items: center;	/* Safari */
		align-items: center;
		max-height: 170px;
	}

	.container-fluid .row.content {
		display: -webkit-flex;			/* Safari */
		display: flex;
		-webkit-align-items: center;	/* Safari */
		align-items: center;
		background-repeat: no-repeat;
		-webkit-flex: 1 1 auto;			/* Safari */
		-ms-flex: 1 1 auto;				/* IE 10+ */
		flex: 1 1 auto;
	}

	.container-fluid .row.content.content-step-2 {
		-webkit-background-size: 30% auto;
		-moz-background-size: 30% auto;
		-ms-background-size: 30% auto;
		-o-background-size: 30% auto;
		background-size: 30% auto;
		background-position:right 12% center 20%;
	}

	.container-fluid .row.content.content-step-3 {
		-webkit-background-size: 30% auto;
		-moz-background-size: 30% auto;
		-ms-background-size: 30% auto;
		-o-background-size: 30% auto;
		background-size: 30% auto;
		background-position:right 12% center 20%;
	}

	.container-fluid .row.content.content-step-4 {
		-webkit-background-size: 30% auto;
		-moz-background-size: 30% auto;
		-ms-background-size: 30% auto;
		-o-background-size: 30% auto;
		background-size: 30% auto;
		background-position:right 12% center 20%;
	}

	.container-fluid .row.footer {
		flex: 0 1 124px;
		-webkit-flex: 0 1 124px;			/* Safari */
		-ms-flex: 0 1 124px;				/* IE 10+ */
	}

	.field-feedback {
		top: 30px;
		right: 0;
	}

	.img-feedback {
		width: 25px;
		height: 25px;
	}

	.content-resume {
		height: 60px;
	}

	.footer-text{
		text-align: center;
	}

	.form-element {
		margin-top: 30px;
	}
}

@media screen and (max-width:768px) {

	.content-step-1 { /*illustration etape identification*/
		background-image:none;
	}

	.container-fluid .row.content.content-step-2 {
		-webkit-background-size: 20% auto;
		-moz-background-size: 20% auto;
		-ms-background-size: 20% auto;
		-o-background-size: 20% auto;
		background-size: 20% auto;
		background-position: top center;
	}

	.container-fluid .row.content.content-step-3 {
		-webkit-background-size: 20% auto;
		-moz-background-size: 20% auto;
		-ms-background-size: 20% auto;
		-o-background-size: 20% auto;
		background-size: 20% auto;
		background-position: top center;
	}

	.container-fluid .row.content.content-step-4 {
		-webkit-background-size: 20% auto;
		-moz-background-size: 20% auto;
		-ms-background-size: 20% auto;
		-o-background-size: 20% auto;
		background-size: 20% auto;
		background-position: flex-end;
	}

	.container-fluid .row.header {
		-webkit-align-items: flex-start;	/* Safari */
		align-items: flex-start;
		max-height: 30px;
	}

	.container-fluid .row.content {
	-webkit-align-items: flex-end;	/* Safari */
	align-items: flex-end;
	}

}

@media (max-width:500px) {
	.container-fluid .row.header {
    max-height: 70px;
    -webkit-align-items: flex-start;
    align-items:flex-start;
}

.font-info-xs {
    font-size: 14px;
    line-height: 20px;}

  .container-fluid .row.header.step4-header {
    max-height: 70px;
    -webkit-align-items: center;
    align-items:center;
}

.container-fluid .row.content.content-step-2 {
  -webkit-background-size: 40% auto!important;
  -moz-background-size: 40% auto!important;
  -ms-background-size: 40% auto!important;
  -o-background-size: 40% auto!important;
  background-size: 40% auto!important;
  background-position: top 12% center;
  -webkit-align-items: flex-end;
   align-items: flex-end;
}

.container-fluid .row.header.acces-step-3 { /* Acess point header */
   max-height: 90px;
    -webkit-align-items:flex-start;
    align-items:flex-start;
}

.container-fluid .row.content.content-step-3 { /* Acess point content */
	-webkit-background-size: 35% auto!important;
	-moz-background-size: 35% auto!important;
	-ms-background-size: 35% auto!important;
	-o-background-size: 35% auto!important;
	background-size: 35% auto!important;
	background-position: top 10% center!important;
	-webkit-align-items: flex-end!important;
    align-items: flex-end!important;
}

.container-fluid .row.footer.step2-acces { /* Acess point footer */
    max-height: 170px;
  }

.container-fluid .row.content.content-step-4 {
	-webkit-background-size: 25% auto;
	-moz-background-size: 25% auto;
	-ms-background-size: 25% auto;
	-o-background-size: 25% auto;
	background-size: 25% auto;
	background-position: top 12% center;
	-webkit-align-items: flex-end;
    align-items: flex-end;
}

.container-fluid .row.footer {
		max-height: 65px;
	}

  .container-fluid .row.footer.step4 {
    max-height: 225px;
  }

}

/* Tiny smartphone (old iPhone) */
@media (max-width: 320px) {

.container-fluid .row.header {  /* carousel  Header flexbox étape réseau wifi */
    max-height: 50px;
    -webkit-align-items:flex-end;
    align-items:flex-end;
    padding-top: 10px;
		padding-left: 0;
}

.container-fluid .row.header.acces-step-3 { /* Etape wizard header Acess point header */
   	max-height: 20px;
    -webkit-align-items:center;
    align-items:center;
}

.container-fluid.row.header.step4-header { /* Etape wizard header section configuration réussie */
    max-height: 30px!important;
    -webkit-align-items:center;
    align-items:center;
    padding-top: 10px;
  	padding-left: 0;
}

	.container-fluid .row.content.content-step-2 { /*wifi illustration*/
	-webkit-background-size: 40% auto;
	-moz-background-size: 40% auto;
	-ms-background-size: 40% auto;
	-o-background-size: 40% auto;
	background-size: 40% auto;
	background-position: top center!important;
	-webkit-align-items: flex-end;
    align-items: flex-end;
}

	.container-fluid .row.content.content-step-3 { /* Access point illustration et content */
	-webkit-background-size: 40% auto!important;
	-moz-background-size: 40% auto!important;
	-ms-background-size: 40% auto!important;
	-o-background-size: 40% auto!important;
	background-size: 40% auto!important;
	background-position: top 15% center!important;
	-webkit-align-items: flex-end!important;
    align-items: flex-end!important;
}



.container-fluid .row.content.content-step-4 { /* section content "Configuration réussie!" */
  -webkit-background-size: 20% auto!important;
  -moz-background-size: 20% auto!important;
  -ms-background-size: 20% auto!important;
  -o-background-size: 20% auto!important;
  background-size: 20% auto!important;
  background-position: top 15% center!important;
  -webkit-align-items: flex-end!important;
   align-items: flex-end!important;

}


.container-fluid .row.footer.step4 { /* section "Configuration réussie!" */
    -webkit-align-items: flex-start!important;
     align-items:flex-start!important;
     max-height:207px!important; /* obéit sur step4*/
  }


	.content-resume {
		height: 50px;
	}


	.field-feedback {
		top: 24px;
		right: 0;
	}

	.img-feedback {
		width: 20px;
		height: 20px;
	}

	.form-element {
		margin-top: 20px;
	}

}

@media (max-width: 768px) {
p.bleu small {
  font-size:.9em;
}

	.container-fluid .row.content.content-step-2 { /* Image réseau */
		-webkit-background-size: 35% auto;
		-moz-background-size: 35% auto;
		-ms-background-size: 35% auto;
		-o-background-size: 35% auto;
		background-size: 35% auto;
		background-position: top 5% center;
	}

		.container-fluid .row.content.content-step-3 { /* Image réseau step 3 */
		-webkit-background-size: 25% auto;
		-moz-background-size: 25% auto;
		-ms-background-size: 25% auto;
		-o-background-size: 25% auto;
		background-size: 25% auto;
		background-position: top 20% center;
	}

		.container-fluid .row.content.content-step-4 { /* Image réseau pour la section Bravo */
		-webkit-background-size: 40% auto!important;
		-moz-background-size: 40% auto!important;
		-ms-background-size: 40% auto!important;
		-o-background-size: 40% auto!important;
		background-size: 40% auto!important;
		background-position: top 22% center;
    -webkit-align-items: flex-end!important;
     align-items:flex-end!important;
	}

	.container-fluid .row.content {
	-webkit-align-items: flex-end;
   	 align-items:flex-end;
	}



	.container-fluid .row.footer {
		flex: 0 1 70px;
		-webkit-flex: 0 1 70px;			/* Safari */
		-ms-flex: 0 1 70px;    			/* IE 10+ */
		-webkit-align-items: center;
   	 align-items:center;
	}

		.container-fluid .row.footer.step4 { /* Section configuration réussie!*/
		-webkit-align-items: center;
   	     align-items:center;
   	     flex: 20px;
		-webkit-flex: 20px;			/* Safari */
		-ms-flex: 20px;    			/* IE 10+ */
		-webkit-align-items: center;
   	 align-items:center;
	}

	.form-element {
		margin-top: 40px;
	}
}

/* Tablette */
@media (min-width: 768px) {
	.container-fluid .row.header {
		padding-top: 10px;
		padding-left: 0;
	}

	.container-fluid .row.header {
    max-height: 120px;
    -webkit-align-items:flex-start;
    align-items:flex-start;
}



	.container-fluid .row.content.content-step-2 { /* Image réseau wifi */
		-webkit-background-size: 35% auto;
		-moz-background-size: 35% auto;
		-ms-background-size: 35% auto;
		-o-background-size: 35% auto;
		background-size: 35% auto;
		background-position: center right 19%;
	}

	.container-fluid .row.content.content-step-3 { /* Image Access Point */
		-webkit-background-size: 25% auto;
		-moz-background-size: 25% auto;
		-ms-background-size: 25% auto;
		-o-background-size: 25% auto;
		background-size: 25% auto;
		background-position: center right 12%;
	}

		.container-fluid .row.content.content-step-4 { /* Image Acces Point section Bravo! */
		-webkit-background-size: 35% auto;
		-moz-background-size: 35% auto;
		-ms-background-size: 35% auto;
		-o-background-size: 35% auto;
		background-size: 35% auto;
		background-position: center right 12%;
	}


	.container-fluid .row.footer {
		flex: 0 1 124px;
		-webkit-flex: 0 1 124px;			/* Safari */
		-ms-flex: 0 1 124px;    			/* IE 10+ */
		-webkit-align-items: flex-end;
   	 align-items:flex-end;
	}

.container-fluid .row.footer.step4 { /* Section configuration réussie!*/
		-webkit-align-items: center;
   	     align-items:center;
   	     flex: 50px;
		-webkit-flex: 50px;			/* Safari */
		-ms-flex: 50px;    			/* IE 10+ */
		-webkit-align-items: center;
   	 align-items:center;
	}
	.container-fluid .row.footer.wifiStep {
		flex: 0 1 124px;
		-webkit-flex: 0 1 124px;			/* Safari */
		-ms-flex: 0 1 124px;    			/* IE 10+ */
		-webkit-align-items: flex-end;
   	 align-items:flex-end;
	}

	.group-feedback {
		max-width: 500px;
	}

	.field-feedback {
		top: 47px;
		right: 15px;
	}

	.img-feedback {
		width: 30px;
		height: 30px;
	}

	.footer-step {
		height: 64px;
	}

	.footer-link {
		width: 100%;
	}

	.footer-text{
		text-align: center;
	}

	.footer-tick {
		align-self: flex-end;
		-webkit-align-self: : flex-end;		/* Safari */
		margin-bottom: 5px;
	}

	.tick-img {
		max-width: 10px;
	}

	.form-element {
		margin-top:20px;
	}
}

/* Desktop */
@media (min-width: 992px) {
	.container-fluid .row.header {
		padding-top: 20px;
		padding-left: 0;
	}



	.container-fluid .row.content.content-step-2 { /* Image réseau */
		-webkit-background-size: 25% auto;
		-moz-background-size: 25% auto;
		-ms-background-size: 25% auto;
		-o-background-size: 25% auto;
		background-size: 25% auto;
		background-position: center right 14%;
	}

		.container-fluid .row.content.content-step-3 { /* Image Access Point */
		-webkit-background-size: 20% auto;
		-moz-background-size: 20% auto;
		-ms-background-size: 20% auto;
		-o-background-size: 20% auto;
		background-size: 20% auto;
		background-position: center right 18%;
	}

		.container-fluid .row.content.content-step-4{ /* Image réseau section Bravo */
		-webkit-background-size: 25% auto;
		-moz-background-size: 25% auto;
		-ms-background-size: 25% auto;
		-o-background-size: 25% auto;
		background-size: 25% auto;
		background-position: center right 14%;
	}

	.container-fluid .row.footer {
		flex: 0 1 170px;
		-webkit-flex: 0 1 170px;			/* Safari */
		-ms-flex: 0 1 170px;    			/* IE 10+ */
		-webkit-align-items: flex-start;
   	 align-items:flex-start;
	}

	.group-feedback {
		max-width: 500px;
	}

	.field-feedback {
		top: 47px;
		right: 20px;
	}

	.img-feedback {
		width: 30px;
		height: 30px;
	}

	.footer-step {
		height: 80px;
	}

	.footer-text{
		text-align: left;
	}
}

/* Large screen */
@media (max-width: 1200px) {

	.content-step-2 {
		background-position: top 7% center;
	}

	.container-fluid .row.content.content-step-2 {
		-webkit-background-size: 25% auto;
		-moz-background-size: 25% auto;
		-ms-background-size: 25% auto;
		-o-background-size: 25% auto;
		background-size: 25% auto;
	}

	.container-fluid .row.content.content-step-4 {
		-webkit-background-size: 30% auto;
		-moz-background-size: 30% auto;
		-ms-background-size: 30% auto;
		-o-background-size: 30% auto;
		background-size: 30% auto;
	}
}


/* Large screen */
@media ( min-width : 1200px ) {


	.container-fluid .row.content.content-step-2 { /* Section étape wifi network */
	  -webkit-background-size: 25% auto;
	  -moz-background-size: 25% auto;
	  -ms-background-size: 25% auto;
	  -o-background-size: 25% auto;
	  background-size: 25% auto;
	  background-position: center right 20%;
	}

	.content-step-3 { /* Position de l'illustration Acces Point pour étape 2 "point d'accès" */
		background-position: top 10% center;
	}

	.container-fluid .row.content-step-3 {
		-webkit-background-size: 25% auto;
		-moz-background-size: 25% auto;
		-ms-background-size: 25% auto;
		-o-background-size: 25% auto;
		background-size: 25% auto;
		background-position: center right 20%;
	}

	.row.header.step4-header {
	    max-height: 180px!important;
	    -webkit-align-items:center;
	    align-items:center;
	    padding-top: 20px;
	  	padding-left: 0;
	}


	.container-fluid .row.content-step-4 {
		-webkit-background-size: 20% auto!important;
		-moz-background-size: 20% auto!important;
		-ms-background-size: 20% auto!important;
		-o-background-size: 20% auto!important;
		background-size: 20% auto!important;
		background-position: center right 20%!important;
	}

	.container-fluid .row.footer.step4 { /* Section configuration réussie!*/
   	     flex: 50px;
		-webkit-flex: 50px;			/* Safari */
		-ms-flex: 50px;    			/* IE 10+ */
		-webkit-align-items: flex-end;
   		align-items:flex-end;
	}

}










